.container{
  overflow: hidden;

}
.col1 {
  position: relative; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-out;
  z-index: 1;

}

.col1:hover {
  transform: scale(1.1); 
  z-index: 1;
}

.headingText {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  /* z-index: 1;  */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  position: absolute;
  top: 2vh;
  left: 2vw;
  transition: left 0.3s ease; 
}

.col1:hover .headingText {
  left: calc(2vw + 4vw); 
}


.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  filter: brightness(40%); 

}




.paragraph {
  z-index: -1; 
  text-align: center;
  position: relative;
  font-size: 2rem;
  color: white;
  max-width: 90%;
  margin-left: 20px;
  /* margin-top: 20px; */
  margin-top: 68vh;
  display: flex;
  flex-direction: column;
}

.tag_h2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add text shadow for clarity */
}

.hrms_para {
  font-size: 1.25rem;
  line-height: 1.6;
  color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adding text shadow to ensure readability */
}

  .headingText {
    font-size: 2.25rem;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
  }
  .rowWrapper{

justify-content: space-around;
align-items: center;
  }

.row2{
/* Example with 80% opacity */
background-color: #FCC737;



}
.col2{
   
 
    display: flex;
    justify-content:center;
    justify-items: flex-start;
    flex-direction: column;
 color: white;


}
.col3{

  
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.para2{
    font-size: 1.6vmax;
    font-weight: 400px;
   margin: 26px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
  .hrHeading{
    letter-spacing: -.025em;
    font-weight: 500;
    font-size: 2.5vmax;
    line-height: 1.75rem;
    color: white;
 margin-top: 10px;
 margin-left: 26px;
 /* z-index: 2; */
  }
  .col4 {
    background-color: #DD761C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px -2px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  }
  .orgimg {
    /* display: inline-block; */
    width: 35rem;
    padding: 2px;
    border: 5px solid transparent; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .orgimg:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  
  .h2_tag{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: white;
    margin: 10px;
  }

  .row3{
  background-color: white;
  color: black;
    margin: 30px;
    
    
    }
    .col6{

  
      display: flex;
      justify-content: flex-start;
  
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
      transition: all 0.3s ease;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
  }
  .col6:hover {
    transform: scale(1.05);  
  }
.col7{
  padding: 0;

}

.responsiveimg {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: black;
}


.col_ser{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;



}
.col_Ser_Mar{
  margin-left: 10px;
}

.col_Ser_Mar h2 {
  font-size: 25px;
  font-weight: 700;
  color: rebeccapurple; 
  margin-bottom: 30px;
}


.serviceButton {
  display: inline-block;
  padding: 13px 25px;
  font-size: 14px;
  font-weight: 500;
  color: rebeccapurple; 
  background-color: transparent;
  /* border: 2px solid #007bff;  */
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  overflow: hidden; 
  transition: color 0.5s ease-in-out;
  margin-bottom: 20px;
}

/* Left-to-right color animation effect on hover */
.serviceButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #749abb;
  transition: left 0.5s ease-in-out; 
  border-radius: 5px;
  z-index: -1;
}


.serviceButton:hover::before {
  left: 0; 
}

/* Change the text color when hovered */
.serviceButton:hover {
  color: #fff; 
}

/* Fade-in animation for the whole service section */
.col_Ser_Mar {
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 8px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  visibility: hidden; 
}

@keyframes fadeIn {
  to {
      opacity: 1;
      visibility: visible;
  }
}


.imghrms {
  padding: 2px;
  border: 5px solid transparent; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.imghrms:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 767px) {
  .serviceButton {
      font-size: 16px;
      padding: 10px 20px;
  }
  .paragraph {
    z-index: 1; /* Ensure text appears above the image */
    text-align: center;
    position: relative;
    font-size: 2rem;
    color: white;
    max-width: 90%;
    margin-left: 20px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
  }
}
