*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: Georgia, serif;
   

    scroll-behavior: smooth;
  }
  
  /* Generic */
  html,body {
    width: 100%;
    align-items: center;
    display: block !important; 
    color: #a0a5a8;
    overflow: auto;
    scrollbar-width: none;  
    background-color: #253f4b;
    
  }
  .menic{
    margin-right:7px ;
    font-size: 13px;
    font-weight: 600;
    }
    a{
     
      color: red;
      cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  
  }
  a:hover{
   color: rgb(10, 175, 240);
  }